<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ホーム画面</title>
    <div class="header">
        <h1>PostList</h1>
    </div>
</head>
<body>
<div th:if="${notAccess}" class="loginFailure" th:text="${noAccess}" style="color:red;" ></div>
<!--新規投稿ボタン表示-->
<div class="loginButtons">
    <div class="newPost">
        <a href="/new">
            <input type="button" value="新規投稿" class="newButton">
        </a>
    </div>
    <!--ユーザー管理画面遷移ボタン表示-->
    <div class="userManagement">
        <a href="/management">
            <input type="button" value="ユーザー管理画面" class="umButton">
        </a>
    </div>
    <div>
        <a href="/logout">
            <input type="button" value="ログアウト" class="outButton">
        </a>
    </div>
</div>
<!--絞込機能-->
<div class="calendar">
    <form th:action="@{/home}" th:method="get">
        <div class="date-group">
            <label>日付 :</label>
            <input class="strDay" type="date" name="start" th:value="${start}"> 　～
            　<input class="endDay" type="date" name="end" th:value="${end}">
            <label>カテゴリー :</label>
            <input type="text" name="category" class="category" th:text="${category}"/>
            <input type="submit" class="selectButton" value="絞込">
        </div>
    </form>
</div>

<!--投稿表示処理 -->
<div th:each="userMessageDate : ${userMessageDate}" class="mainHome">
    <div class="accountTable">
        <div class="name"><span th:text="${userMessageDate.name}"/></div>
        <div class="account"><span th:text="${userMessageDate.account}"/></div>
        <div class="date"><span th:text="${userMessageDate.createdDate}"/></div>
    </div>
    <div class="title-category">
        <div> 件名　: <span th:text="${userMessageDate.title}"/></div>
        <div>カテゴリー　: <span th:text="${userMessageDate.category}"/></div>
    </div>
        <div> 本文　: <span th:text="${userMessageDate.text}"/></div>
    <div class="delete-button" >
        <!--ログインユーザーが自分で投稿した物だけ削除ボタンを表示-->
        <div th:if ="${ loginUser.id == userMessageDate.userId }">
            <form th:action="@{/delete/{id}(id=${userMessageDate.messageId})}" th:method="delete">
                <input type="submit" onclick="return confirm('本当に削除しますか？');" value="削除">
            </form>
        </div>
    </div>
    <!--コメント表示処理とコメント削除ボタン表示処理-->
    <div th:each="userCommentDate : ${userCommentDate}"
         th:if="${userCommentDate.messageId} == ${userMessageDate.messageId}">
        <div class="comment-row">
        <div>   コメント　: <span th:text="${userCommentDate.text}"/></div>
        <!--ログインユーザーが自分でコメントした物だけ削除ボタンを表示-->
        <div th:if ="${ loginUser.id == userCommentDate.userId }">
            <form th:action="@{/commentDelete/{id}(id=${userCommentDate.id})}" th:method="delete">
                <input type="submit" onclick="return confirm('本当に削除しますか？');" class="hdButton" value="削除">
            </form>
        </div>
        </div>
    </div>
    <!--コメント追加フォーム-->
    <form method="post" action="/commentAdd">
        <div class="form-area">
            <div th:if="${!#lists.isEmpty(errorMessages)}">
                <!--コメントしようとしたコメント入力フォームにエラーメッセージを表示-->
                <div th:if ="${ userMessageDate.messageId == messageId }">
                    <div class="errorMessages" th:each="messages : ${errorMessages}">
                        <span th:text="${messages}" style="color:red;" />
                    </div>
                </div>
            </div>
            <div><label>コメント入力欄</label></div>
            <textarea class="tweet-box" name="text" size="20" maxlength="550" ></textarea><br/>
            <input type="submit" value="コメント" class="comment-Button"/>
            <!--th:value～にしないとControllerに値を渡せない。（valueで渡そうとしていた為コメントを残す）-->
            <input type="hidden" name="messageId" th:value="${userMessageDate.messageId}"/>
            <input type="hidden" name="userId" th:value="${userMessageDate.userId}"/>
        </div>
    </form>
</div>
</body>
</html>