<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザー管理画面</title>
    <div class="umTitle">ユーザー管理画面</div>
</head>
<body>
<div th:if="${notAccess}" class="loginFailure" th:text="${notAccess}" style="color:red;" ></div>
<!--ユーザー登録画面遷移ボタン表示-->
<div class="userRegistration">
    <a href="/registration">
        <input type="button" value="ユーザ―新規登録画面" class="urButton">
    </a>
    <div class="backHome">
        <a href="/keijiban">
            <input type="button" value="ホームに戻る" class="homeButton">
        </a>
    </div>
</div>
<!--ユーザー情報の表示-->
<div class="userMainHome">
    <div class="userMainHome">
        <table class="urTitle">
            <colgroup>
                <col style="width: 23%;"> <!-- アカウント -->
                <col style="width: 23%;"> <!-- 名前 -->
                <col style="width: 10%;"> <!-- 支店名 -->
                <col style="width: 10%;"> <!-- 部署名 -->
                <col style="width: 8%;"> <!-- 活動状況 -->
                <col style="width: 16%;">
                <col style="width: 10%;">
            </colgroup>
            <tr>
                <th class="task-item">アカウント</th>
                <th class="status-item">名前</th>
                <th class="limit-item">支店名</th>
                <th class="delete">部署名</th>
                <th class="edit">活動状況</th>
                <th class="edit"></th>
                <th class="edit"></th>
            </tr>
        </table>

        <div th:each="usd : ${udbData}">
            <table class="urAnswer">
                <colgroup>
                    <col style="width: 23%;"> <!-- アカウント -->
                    <col style="width: 23%;"> <!-- 名前 -->
                    <col style="width: 10%;"> <!-- 支店名 -->
                    <col style="width: 10%;"> <!-- 部署名 -->
                    <col style="width: 8%;"> <!-- 活動状況 -->
                    <col style="width: 16%;">
                    <col style="width: 10%;">
                </colgroup>
                <tr>
                    <td><span th:text="${usd.account}"/></td>
                    <td><span th:text="${usd.name}"/></td>
                    <td><span th:text="${usd.branchName}"/></td>
                    <td><span th:text="${usd.departmentName}"/></td>
                    <td>
                        <span th:if="${usd.isStopped == 0}">稼働中</span>
                        <span th:if="${usd.isStopped == 1}">停止中</span>
                    </td>
                    <td th:if="${usd.id} != ${filter.id}">
                        <form th:action="@{/update/{id}(id=${usd.id})}" th:method="put">
                            <div th:if="${usd.isStopped == 0}">
                                <input type="hidden" name="isStopped" value="1" />
                                <input type="submit" onclick="return confirm('本当に変更しますか？');" value="停止する" class="changButton">
                                <input type="hidden" name="id" th:value="${usd.id}"/>
                            </div>
                            <div th:if="${usd.isStopped == 1}">
                                <input type="hidden" name="isStopped" value="0" />
                                <input type="submit" onclick="return confirm('本当に変更しますか？');" value="復活する" class="chang2Button">
                                <input type="hidden" name="id" th:value="${usd.id}"/>
                            </div>
                        </form>
                    </td>
                    <td th:if="${usd.id != null and filter.id != null and usd.id == filter.id}">
                        <span style="color: gray;">－</span>
                    </td>
                    <td>
                        <div class="userEdit">
                            <a th:href="@{/userEdit/{id}(id=${usd.id})}">
                                <input type="button" value="編集" class="EditButton">
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>


