<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザ登録画面</title>
    <div class="userNewTitle">ユーザー新規登録画面</div>
</head>
<body class="urColor">
<form method="post" th:action="@{/newUser}" th:object="${formModel}" class="mainRegistration">
    <!-- アカウント名 -->
    <div th:if="${accountError}" th:text="${accountError}" style="color:red;"></div>
    <div class="errorMessage" th:if="${#fields.hasErrors('account')}" th:errors="*{account}" style="color:red;"></div>
    <div class="urLabel">アカウント名</div>
    <input type="text" th:field="*{account}" class="tweet-box"/><br/>

    <!-- パスワード -->
    <div class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
    <div th:if="${passwordError}" th:text="${passwordError}" style="color:red;"></div>
    <div class="label">パスワード</div>
    <input type="text" th:field="*{password}" class="tweet-box"/><br/>

    <!-- 確認用パスワード -->
    <div class="errorMessage" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color:red;"></div>
    <div class="label">確認用パスワード</div>
    <input type="text" th:field="*{confirmPassword}" class="tweet-box"/><br/>

    <!-- 名前 -->
    <div class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>
    <div class="label">名前</div>
    <input type="text" th:field="*{name}" class="tweet-box"/><br/>

    <!-- 支社 -->
    <div th:if="${branchError}" th:text="${branchError}" style="color:red;"></div>
    <div class="errorMessage" th:if="${#fields.hasErrors('branchId')}" th:errors="*{branchId}" style="color:red;"></div>
    <div class="pulldown">支社選択:
        <select th:field="*{branchId}">
            <option value="">-- 選択してください --</option>
            <option value="1">A支社</option>
            <option value="2">B支社</option>
            <option value="3">C支社</option>
            <option value="4">本社</option>
        </select>
    </div>

    <!-- 部署 -->
    <div class="errorMessage" th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}" style="color:red;"></div>
    <div>部署選択:
        <select th:field="*{departmentId}">
            <option value="">-- 選択してください --</option>
            <option value="1">営業部</option>
            <option value="2">技術部</option>
            <option value="3">総務人事部</option>
            <option value="4">情報管理部</option>
        </select>
    </div>

    <div class="user-button-row">
        <input class="newUserButton" type="submit" value="新規ユーザー登録"/>
        <input type="hidden" name="isStopped" value="0"/>
        <a href="/management" class="home-link2"　>戻る</a>
    </div>
</form>
</body>
</html>